<!-- CREADO POR: MARICEL PAZ -->

<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>FACTURA</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="id..." formControlName="id"  [(ngModel)]="factura.id">
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="cliente_id..." formControlName="cliente_id" [(ngModel)]="factura.cliente_id">
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="empleado_id..." formControlName="empleado_id" [(ngModel)]="factura.empleado_id">
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="estado..." formControlName="estado"[(ngModel)]="factura.estado">
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="creado..." formControlName="creado" [(ngModel)]="factura.creado">
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Agregar</button>
      <!--<button mat-raised-button class="btn btn-danger" (click)="ngOnEliminar()" >Eliminar</button>-->
      <button mat-raised-button color="danger" (click)="ngOnCancelar()" >Cancelar</button>
    </mat-card-actions>
  </mat-card>
</form>
